@import 'src/scss/style.scss';

.student {
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  margin-top: 30px;

  &__content {
    position: absolute;
    top: -20px;
    left: 0;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }


  &__image {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    filter: brightness(0.9);
    border-radius: 5px;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__name {
    color: $orange;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
  }

  &__icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }


  &__description {
    display: flex;
    width: 100%;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
  }
}

