@import 'src/scss/style.scss';

.title { 
  color:  $gray_base;
  font-weight:  500;
  font-size: 18px;
  margin-top: 8px
}

.courses {
  display: grid;
  height: 270px;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 15px;
}
