@import 'src/scss/style.scss';

.principal {
    display: flex;
    background: $white;

    &__body {
      width:100%;
      padding-right: 15px;
      padding-top: 15px;

      .title{
        color: $gray_base;
        font-weight: 700;
        font-size: 18px;
      }

      &__courses {
        display: grid;
        height: 270px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
      }

      &__blogs {
        display: grid;
        height: 170px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1.5px;
        margin: 15px;
      }

    }

    &__profiles {
      display:flex;
      width:100%;
      flex-direction: column;
      align-items: center;
      background-color: $white;

      .principal__instructors {
        display: block;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: $white;
      }

      .principal__instructor {
        width: 100%;
        background: $white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-top: 11px
      }

      .principal__improvement {
        width: 100%;
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        margin-top: 8px;
        
        span {
          font-weight: 700;
          font-size: 15px;
          color: $gray_base;
        }
      }
    }
}

.profile {
  text-align: center;
  margin-bottom: 8px;

  &__photo {
    border-radius: 10px;
  }

  &__name {
    color: $black;
    font-size: 16px;
    font-weight: 700;
  }

  &__profession {
    color: $gray_base;
    font-size: 14px;
    font-weight: 500;
  }

  &__photo img {
    width: 80px;
    border-radius: 10px;
  }
}

.resumen {
  .row {
   display: grid; 
   grid-template-columns: repeat(2, 4fr);
   grid-template-rows: repeat(2, auto);
   grid-gap: 10px;
   margin: 0;

   .card {
    background-color: #FF890626;;
    color: $orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;

    &__count {
      font-weight:  700;
      font-size: 14px;
      color:  $orange;
    }

    &__title {
      font-weight:  700;
      font-size: 14px;
      color:  $orange;
    }
   }
  }
}

.instructors {
    background: $white;
    border-radius: 5px;
}

.instructor{
    display: flex;
    align-items: center;
    padding: 15px 15px 0 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #00000030;

    &__profile {
      display: flex;
      align-items: center;
      width: 50%; 

      img {
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    &__date {
      font-size: 10px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      span:first-child {
        color: orange;
        font-weight: 700;
      }
    }
}
