@import '../../scss/variables';
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
.containerHome {
  background: $dark;
  color: #fff;
  position: relative;
}
.card {
  overflow: hidden;
  cursor: pointer;
  .card__content {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100&;
    bottom: 0;
    z-index: 10;
    h3 {
      padding: 20px 0;
      background: rgba(0, 0, 0, 0.384);
    }
  }
  img {
    transition: 0.1s ease-in-out;
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.joinUs {
  align-self: center;
  text-align: left;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .divider__shapeFill {
    fill: #0f0e17;
  }
}
