.lineDivider {
  margin: 12px 0px 20px;
  flex: 1 1 0%;
  border-top: 1px solid rgb(165, 165, 165);
}
.dividerTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .divider__shapeFill {
    fill: #0f0e17;
  }
}

.dividerBottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .divider__shapeFill {
    fill: #ffffff;
  }
}
