$white:     #fff !default;
$black:     #0F0E17 !default;
$orange:    #FF8906 !default;
$orange-500: #F25F4C !default;
$gray_base: #4F4F4F !default;
$menu:      #3C4B64 !default;
$menu-logo: #303C54 !default;
