$white: #fff !default;
$black: #0f0e17 !default;
$orange: #ff8906 !default;
$orange-500: #f25f4c !default;
$gray_base: #4f4f4f !default;
$menu: #3c4b64 !default;
$menu-logo: #303c54 !default;

$primary: #6246ea;
$secondary: #d1d1e9;
$dark: #0f0e17;
